# compiled objects
*.o

# compiled graphics
*.1bpp
*.2bpp
*.pic

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
*.map
*.sym

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.s[0-9]*
*.sn*
*.sa*
*.sg1
